test.py
Recognition/
W0_1/
W1_1/
W2_1/
W3_1/
W4_1/
W5_1/
W6_1/
W7_1/
W8_1/
W9_1/
W0_2/
W1_2/
W2_2/
W3_2/
W4_2/
W5_2/
W6_2/
W7_2/
W8_2/
W9_2/
test_2min/download.log
VesselClassification_test.dat
FINAL.dat
download.log
W0_3/
W1_3/
W2_3/
W3_3/
W4_3/
W5_3/
W6_3/
W7_3/
W8_3/
W9_3/
W0_4/
W1_4/
W2_4/
W3_4/
W4_4/
W5_4/
W6_4/
W7_4/
W8_4/
W9_4/
W/
20250505-download.log
20250508-download.log
20250509-download.log
image_ids.txt
20250513-download.log
20250514-download.log
error_ids.txt
no_such_file_ids.txt
no_such_file_ids.txt
ships.csv
to_download_ids.txt
